@import '../../styles/app';

.root {
}

.mainTableWidget {
  :global {
    .table td {
      border: none;
    }
  }
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.mainTableWidget::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.small {
  font-size: xx-small;
}

.image {
  width: 100px;
  height: 60px;
}

.button {
  text-align: center;
  font-size: 0.2em;
  color: blue;
}

.favorite {
  background-color: yellow;
}

.nonfavorite {
  background-color: black;
}

.nonactive {
  display: none;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

// @media (max-width: 690px) {
//   .root {
//     -ms-transform: rotate(90deg); /* IE 9 */
//     -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
//     transform: rotate(90deg);
//   }
// }

// .table {
//   overflow-x: scroll;
// }
