@import '../../styles/app';

.root {
  :global {
    .post-comments footer {
      margin: 0 (-$widget-padding-horizontal) (-$widget-padding-vertical);
      padding: $widget-padding-vertical $widget-padding-horizontal;
    }

    .stat-item .name {
      margin-top: 10px;
    }

    .list-group-item:hover {
      background-color: $bg-addition;
    }

    .detail {
      .x_label {
        background: $widget-bg-color !important;
      }
    }
  }
}

.table {
  :global(.table.table-sm) {
    td {
      font-size: 1rem;
      vertical-align: middle;
    }
  }
}

.searchBtn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.text {
  color: black;
  margin-left: -4vw;
  font-size: 1vw;
  font-style: italic;
  font-weight: 900;
}
.sizeup {
  line-height: 300px;
}
.sizeup:hover {
  -webkit-transform: scale(1.2);
  transition-duration: 2s;
  opacity: 0.8;
  .text {
    transition-duration: 2s;
    font-size: 1.5vw;
  }
}
.webkit {
  flex-wrap: nowrap;
}

@media screen and (max-width: 1000px) {
  .sizeup {
    line-height: 230px;
  }
}
