@import '../../styles/app';

.root {
  :global {
    .post-comments footer {
      margin: 0 (-$widget-padding-horizontal) (-$widget-padding-vertical);
      padding: $widget-padding-vertical $widget-padding-horizontal;
    }

    .stat-item .name {
      margin-top: 10px;
    }

    .list-group-item:hover {
      background-color: $bg-addition;
    }

    .detail {
      .x_label {
        background: $widget-bg-color !important;
      }
    }
  }
}

.table {
  :global(.table.table-sm) {
    td {
      font-size: 1rem;
      vertical-align: middle;
    }
  }
}

.searchBtn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.parkleft{
  display: block; 
  margin: 0px auto;
  width: 450px;
  height: 350px;
  // span{
  //   display:none;
  // }
  // &:hover{
  //   opacity: 0.5;
  //   span{
  //     display:block;
  //   }
  // }
}
.parkright{
  display: block; 
  margin: 0px auto;
  width: 470px;
  height: 370px;
}

.write{
  display: none;
}


// @media screen and (max-width:768px){
//   .park{
//     display: block; 
//     margin: 0px auto;
//     width: 500px;
//     height: 350px;
//     display: block; 
//     margin: 0px auto;
//     border-radius: 5px;
//   }
// }
