@import '../../styles/app';

.root {
  position: absolute;
}

.mainTableWidget {
  position: relative;
  @media (max-width: 576px) {
    transform: translateX(-22%) translateY(20%) rotate(270deg);
  }
}

.small {
  font-size: xx-small;
}

.slot {
  border: 2px solid gray;
  background-color: red;
  position: absolute;
  &.horizontal {
    transform: rotate(90deg);
  }
  &.vertical {
    transform: rotate(0deg);
  }
  &.leftTilt {
    transform: rotate(315deg);
  }
  &.rightTilt {
    transform: rotate(45deg);
  }
  &.isEmpty {
    background-color: white;
  }
}

.photomodal {
  width: 800px;
  height: 600px;
  top: 30%;
  right: 50%;
  text-align: center;
}

.button {
  text-align: center;
  font-size: 0.2em;
  color: blue;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
