@import '../../../styles/app';

.root {
}

.mainTableWidget {
  :global {
    .table td {
      border: none;
    }
  }
}

.small {
  font-size: xx-small;
}

.image {
  width: 100px;
  height: 60px;
}
